<div class="navbar navbar-expand-sm navbar-libresante fixed-top">
  <%= link_to root_path, class: "navbar-brand white-brand" do %>
    <%= image_tag "https://res.cloudinary.com/libresante/image/upload/v1600705878/Libresant%C3%A9_white_xefxq8.png" %>
  <% end %>
  <%= link_to root_path, class: "navbar-brand black-brand" do %>
    <%= image_tag "https://res.cloudinary.com/libresante/image/upload/v1600705878/Libresant%C3%A9_black_aqeexp.png" %>
  <% end %>

 <%# <%= link_to "Libresanté", root_path, class: "navbar-brand brand" %> 

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown item-icon">
        <i class="fas fa-globe-americas icon-white"></i> <%= link_to "Idioma", "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdow">
          <%= link_to "Español", root_path(locale: :es), class: "dropdown-item" %>
          <%= link_to "Ingles", root_path(locale: :en), class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item item-icon">
        <i class="far fa-envelope icon-white"></i> <%= link_to "Contactar", "#", class: "nav-link", data: { toggle: "modal", target: "#jorge" } %>
      </li>
    </ul>
  </div>
</div>

<!-- Modals -->
<div class="modal fade" id="jorge" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered contact-dialog">
        <div class="modal-content contact-content">
          <div class="contact-modal-header">
            <p>Contáctanos</p>
            <button type="button" class="close contact-close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="contact-modal-body">
            <div class="contact-img">
              <%= cl_image_tag("Jorge_fvpyuo.png", :transformation=> [{:width=>450, :height=>450, :gravity=>"face", :radius=>"max", :crop=>"crop"}, {:width=>150, :crop=>"scale"}]) %>
            </div>
            <div class="contact-details">
              <p class="contact-role">Director de ventas</p>
              <p class="contact-name">Jorge Gavilano Frantzen</p>
              <p class="contact-email">jorgegavilano.frantzen@libresante.com</p>
              <p class="contact-whatsapp">WhatsApp: +51 923501 365</p>
            </div>
          </div>
        </div>
    </div>
  </div>