<div class="navbar navbar-expand-sm navbar-libresante fixed-top">
  <%= link_to root_path, class: "navbar-brand white-brand" do %>
    <%= image_tag "https://res.cloudinary.com/libresante/image/upload/v1600705878/Libresant%C3%A9_white_xefxq8.png" %>
  <% end %>
  <%= link_to root_path, class: "navbar-brand black-brand" do %>
    <%= image_tag "https://res.cloudinary.com/libresante/image/upload/v1600705878/Libresant%C3%A9_black_aqeexp.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown item-icon">
        <i class="fas fa-globe-americas icon-white"></i> <%= link_to "#{t('language')}", "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdow">
          <%= link_to "#{t('spanish_language')}", {locale: :es}, class: "dropdown-item" %>
          <%= link_to "#{t('english_language')}", {locale: :en}, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item item-icon">
        <i class="far fa-envelope icon-white"></i> <%= link_to "#{t('general_contact_btn_2')}", "#", class: "nav-link", data: { toggle: "modal", target: "#jorge" } %>
      </li>
    </ul>
  </div>
</div>
