<div class="cards-prod">
  <% @filters.each_with_index do |filter, index| %>
    <div class="card-product" data-toggle="modal" data-target="#productinfo<%= index %>" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url('<%= cl_image_path Product.where(filter_id: (filter.id)).first.image.key, height: 160, width: 250, crop: :fill %>')">
      <div class="input">
        <%= Product.where(filter_id: (filter.id)).first.name %>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade first_modal" id="productinfo<%= index %>" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <%= cl_image_tag Product.where(filter_id: (filter.id)).first.image.key, height: 313, width: 350, crop: :fill %>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="modal-prod-name"><%= Product.where(filter_id: (filter.id)).first.name %> - <%= Product.where(filter_id: (filter.id)).first.catalog %></p>
              <p class="modal-prod-description"><%= Product.where(filter_id: (filter.id)).first.description %></p>
              <p class="modal-prod-detail"><%= Product.where(filter_id: (filter.id)).first.detail %></p>
            </div>
            <div class="modal-footer">
              <div class="btnbtn">
                  <%= link_to "CONTACTAR", "#", class: "word", id: "modal2", data: { toggle: "modal", target: "#jorge" } %>
                  <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- Modal 2 -->
    <div class="modal fade second_modal" id="jorge" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered contact-dialog">
          <div class="modal-content contact-content">
            <div class="contact-modal-header">
              <p><%= t('pages.home.contact_modal_title') %></p>
              <button type="button" class="close contact-close" data-dismiss="modal" aria-label="Close">
                <span id="close-btn" aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="contact-modal-body">
              <div class="contact-img">
                <%= cl_image_tag("Jorge_fvpyuo.png", :transformation=> [{:width=>450, :height=>450, :gravity=>"face", :radius=>"max", :crop=>"crop"}, {:width=>150, :crop=>"scale"}]) %>
              </div>
              <div class="contact-details">
                <p class="contact-role"><%= t('pages.home.jorge_role') %></p>
                <p class="contact-name">Jorge Gavilano Frantzen</p>
                <p class="contact-email">jorgegavilano.frantzen@libresante.com</p>
                <p class="contact-whatsapp">WhatsApp: +51 923501 365</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  <% end %>
</div>
