<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/libresante/image/upload/v1600267133/f5uo0jpacmjg86wv0pne.jpg);">
  <div class="container">
    <h1>Productos Medicos</h1>
    <p>Productos medicos</p>
  </div>
</div>

<div class="container">

  <h1>Explora Libresanté</h1>
  <div class="owl-one owl-carousel owl-theme cards">
    <% @filters.each do |filter| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.25)), url(https://images.unsplash.com/photo-1564065316768-b8793a4eb675?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
        <div class="input">
          <%= filter.name %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="owl-two owl-carousel owl-theme contacts">

    <div class="card-contact">
      <div class="details">
        <%= cl_image_tag("Renato_ysjybv.png", :transformation=> [{:width=>450, :height=>450, :gravity=>"face", :radius=>"max", :crop=>"crop"}, {:width=>200, :crop=>"scale"}]) %>
        <p class="name">Renato Tuesta Vilca</p>
        <p class="role">Director General</p>  
      </div>
      <div class="text">
        <p>Libresante es una empresa canadiense que comercializa productos médicos imprescindibles a las instalaciones hospitalarias, clínicas y medicas privadas. Ofrecemos productos de alta calidad con todos los certificados necesarios al buen funcionamiento. Damos un servicio de venta respetuoso y sobre todo humano, teniendo la satisfacción del cliente como máxima prioridad.</p>
        <p>La presente pandemia a generado el colapso del sistema de salud en el Perú y ha puesto en evidencia la gran demanda de insumos médicos. Libresante se especializa en comercializar productos médicos que tengan gran necesidad a bajo costo y así establecer un mercado constante y fructuoso.</p>
        <div class="contact-btn">
          <%= link_to "CONTACTAR", "#", class: "word" %>
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
    </div>

    <div class="card-contact">
      <div class="details">
        <%= cl_image_tag("jorge_re7o4b.jpg", :aspect_ratio=>"1:1", :border=>"0px_solid_rgb:ffffff", :gravity=>"auto", :opacity=>100, :radius=>"max", :width=>1000, :zoom=>0.1, :crop=>"fill") %>
        <p class="name">Jorge Gavilano Frantzen</p>
        <p class="role">Director de ventas</p>
      </div>
      <div class="text">
        <p>Somos una empresa canadiense interesados en ampliar sus operaciones en territorio peruano. Caracterizados por ofrecer productos de alta calidad y un servicio de venta a la expectativa de una clientela satisfecha. Hemos elegidos productos con mucha demanda para iniciar nuestras operaciones en Perú.</p>
        <p>Ponemos a su disposición nuestros filtros HEMF y viral/bacteria necesarios para la protección del personal médico tanto como la de los pacientes. Estos filtros tienen como rol de eliminar la posibilidad de contagio de enfermedades tan peligrosas como el Covid-19, cuando se pone en uso en ventiladores mecánicos.</p>
        <div class="contact-btn">
          <%= link_to "CONTACTAR", "#", class: "word" %>
          <i class="fas fa-chevron-right"></i>
        </div> 
      </div>
    </div>

  </div>



</div>