<div class="banner banner-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/libresante/image/upload/v1600267133/f5uo0jpacmjg86wv0pne.jpg);">
  <div class="container">
    <h1><%= t('.banner_title') %></h1>
    <p><%= t('.banner_phrase') %></p>
  </div>
</div>

<div class="ext-container">
  <h1><%= t('.explore_title') %></h1>
  <%= render 'filter_carousel'%>
</div>

<div class="container">
  <%= render 'contact_carousel'%> 
</div>

<div class="ext-container-two">
  <h1><%= t('.products_title') %></h1>
</div>

<div class="container">
  <%= render 'explore_products' %>
</div>

<div class="banner-two" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/libresante/image/upload/v1600487401/brandon-holmes-GofYo51GQ_4-unsplash_kcqwml.jpg);">
  <div class="btnbtn">
    <%= link_to "#{t('general_contact_btn')}", "#", class: "word", data: { toggle: "modal", target: "#jorge" } %>
    <i class="fas fa-chevron-right"></i>
  </div>
</div>

<!-- Modals -->

<%
=begin %>



<div class="modal fade" id="jorge" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered contact-dialog">
      <div class="modal-content contact-content">
        <div class="contact-modal-header">
          <p><%= t('pages.home.contact_modal_title') %> </p>
          <button type="button" class="close contact-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="contact-modal-body">
          <div class="contact-img">
            <%= cl_image_tag("Jorge_fvpyuo.png", :transformation=> [{:width=>450, :height=>450, :gravity=>"face", :radius=>"max", :crop=>"crop"}, {:width=>150, :crop=>"scale"}]) %>
          </div>
          <div class="contact-details">
            <p class="contact-role"><%= t('pages.home.jorge_role') %></p>
            <p class="contact-name">Jorge Gavilano Frantzen</p>
            <p class="contact-email">jorgegavilano.frantzen@libresante.com</p>
            <p class="contact-whatsapp">WhatsApp: +51 923501 365</p>
          </div>
        </div>
      </div>
  </div>
</div> 

<%
=end %>


